<div style="margin-top: 15px;">
  <mat-card class="z-depth center" flex="50">
    <mat-card-header>
      <mat-card-title>Take a photo</mat-card-title>
      <mat-card-subtitle>Original size {{width}} * {{height}}</mat-card-subtitle>
    </mat-card-header>
    <video #video id="video" mat-card-image autoplay [width]="width" [height]="height" *ngIf="displayStream"></video>
    <canvas #canvas id="canvas" mat-card-image [width]="width" [height]="height" [hidden]="hideCanvas"></canvas>
    <signature-pad id="signaturePad" #signaturePad [options]="signaturePadOptions" class="signature"
      [hidden]="displayStream">
    </signature-pad>
    <div *ngIf="displayStream"><span>Facing Mode: {{streamFacingMode}} / width: {{streamWidth}} / height: {{streamHeight}} / ratio {{streamRatio}} / FrameRate {{streamFrameRate}} </span></div>

    <mat-card-actions *ngIf="actions">

      <button mat-button color="primary" [matMenuTriggerFor]="cameraMenu" *ngIf="displayStream">Caméra</button>
      <mat-menu #cameraMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item color="primary" (click)="switchCamera($event, 'user')">User (front)</button>
          <button mat-menu-item color="primary" (click)="switchCamera($event, 'environment')">Environment (rear)</button>
      </mat-menu>

      <button mat-raised-button color="primary" (click)="capture()" *ngIf="displayStream">Capture</button>
      <button mat-raised-button color="primary" (click)="takePhoto()" *ngIf="!displayStream">Photo</button>
      <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload accept="image/*" />
      <button mat-raised-button color="primary" (click)="fileUpload.click()" *ngIf="!displayStream">Load image</button>
      <button mat-raised-button color="primary" (click)="editImage()" *ngIf="!displayStream">Edit</button>
      <button mat-raised-button color="primary" (click)="saveAsPNG()" *ngIf="!displayStream">Save</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="editing">
      <span [(colorPicker)]="colorPen1" [style.color]="colorPen1" [cpOKButton]=true [cpCancelButton]=true
        [cpAlphaChannel]="'disabled'" [cpDisableInput]=true [cpOutputFormat]="'rgba'"
        (colorPickerChange)="changePenColor($event);colorPen1=$event;">Pen Color</span>
      <button mat-raised-button color="primary" (click)="saveEditing()">Valid</button>
    </mat-card-actions>
  </mat-card>
</div>
